.bannerHeader {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 12rem 10% 0;
  color: var(--color-ui-10);

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: calc(100% + 200px);
    top: 0;
    left: 0;
    background: url('/assets/backgrounds/background-stem-blue-reverse.svg');
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(2px);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - min(11vw, 175px)));
  }

  h1,
  h2 {
    margin-bottom: 30px;
    z-index: 1;
  }

  h1 {
    font-size: 64px;
    font-weight: bold;
  }

  h2 {
    font-size: 40px;
    font-weight: normal;
  }
}
