.home {
    font-family: 'Figtree', Helvetica, sans-serif;
    color: var(--color-ui-20);
    background: var(--color-ui-10);

    section {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 4rem 0;
        align-items: center;
    }
}

.header {
    padding-top: 8rem;
    img {
        width: 90%;
        max-width: calc(var(--max-width) + 5rem);
        z-index: 1;
    }

    .headerGradient1,
    .headerGradient2 {
        position: absolute;
        width: 50%;
        height: 200px;
        max-width: 800px;
        background: radial-gradient(#e6f5ff 25%, transparent 75%);
    }

    .headerGradient1 {
        top: -50px;
        left: -20%;
    }

    .headerGradient2 {
        top: 75px;
        right: -20%;
    }
}

.about {
    padding: 10vw 0;
    color: var(--color-ui-10);
    background: url('/assets/backgrounds/background-stem-blue.svg');
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 10vw, 100% 100%, 0 calc(100% - 10vw));

    h1 {
        padding: 1rem 0;
        font-size: 64px;
    }

    p {
        padding: 1rem 0 3rem 0;
        font-size: 24px;
    }

    a {
        text-decoration: underline;
    }

    .whoWeAre,
    .whatWeDo {
        width: 80%;
        max-width: var(--max-width);
    }

    .whoWeAre {
        text-align: start;
    }

    .whatWeDo {
        text-align: end;
    }
}

.events {
    color: var(--color-ui-80);
    text-align: center;

    h1 {
        font-size: 64px;
        font-style: italic;
    }

    h2 {
        padding-top: 74px;
        font-size: 40px;
    }

    p {
        padding-top: 12px;
        font-size: 20px;
        font-style: italic;
    }
}
