.grantsAndSubsidies {
    font-family: 'Figtree', Helvetica, sans-serif;
    color: var(--color-ui-80);
    background: var(--color-ui-10);

    section {
        display: flex;
        flex-direction: column;
    }
}

.applicationInformation {
    padding: 0 5% 100px;

    .applicationInformationCard {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 40px 60px;
        font-size: var(--font-size-p);

        .header {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

            h2 {
                font-size: var(--font-size-h2);
                font-weight: bold;
            }
        }

        .description {
            display: flex;
            flex-direction: column;
            gap: 16px;

            h2 {
                font-weight: 600;
                font-size: var(--font-size-h2);
            }

            p {
                font-size: var(--font-size-p);
            }

            a {
                color: var(--color-ui-60);
                text-decoration: underline;
            }

            .deadline {
                color: var(--color-ui-60);
            }
        }

        .status {
            padding: 10px 24px;
            background: var(--color-ui-80);
            border-radius: 16px;
            font-size: var(--font-size-p);
            font-weight: bold;
            color: var(--color-ui-10);
            text-transform: uppercase;
        }
    }
}


.grants,
.subsidies {
    display: flex;
    padding-inline: 5%;
    align-items: center;

    h1 {
        padding-top: 1rem;
        font-size: var(--font-size-h1);
        font-weight: bold;
    }

    .grantsButtons,
    .subsidiesButtons {
        display: flex;
        flex-wrap: wrap;
        margin: 30px 0 40px;
        justify-content: center;
    }

    .grantsList,
    .subsidiesList {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 25px;
        justify-content: center;

        .card {
            height: fit-content;
            max-width: 500px;
            box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
        }

        h1 {
            padding: 0;
            font-size: var(--font-size-h2);
            font-weight: 600;
            color: var(--color-ui-80);
        }

        h2 {
            font-size: var(--font-size-p);
            color: var(--color-ui-60);
        }

        p {
            padding: 20px 0 45px 0;
            font-size: var(--font-size-p);
            color: var(--color-ui-100);
        }
    }
}

.grants {
    h1 {
        color: var(--color-ui-10);
    }

    .grantsButtons {
        gap: 16px;

        .button {
            font-size: var(--font-size-p);
            font-weight: bold;
        }
    }

    .grantsList {
        height: 2000px;

        .card {
            padding: 40px 50px 80px;
        }
    }
}

.subsidies {
    padding-bottom: 200px;

    .subsidiesButtons {
        font-size: var(--font-size-p);
        font-weight: bold;
        gap: 16px;
    }

    .subsidiesList {
        height: 1750px;

        .card {
            padding: 40px 50px;
        }
    }
}

@media (max-width: 1100px) {
    .grantsList,
    .subsidiesList {
        height: auto !important;
    }
}
