.bannerSection {
  padding-block: 10vw 15vw !important;
  background: url('/assets/backgrounds/background-stem-blue.svg');
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 10vw, 100% 100%, 0 calc(100% - 10vw));
}
