.meetingMinutes {
    font-family: 'Figtree', Helvetica, sans-serif;
    color: var(--color-ui-80);
    background: var(--color-ui-10);

    section {
        display: flex;
        flex-direction: column;
    }
}

.access {
    padding: 0 10% 60px;

    .accessCard {
        padding: 36px 50px;

        p {
            font-size: var(--font-size-p);
            line-height: 1.6;
        }

        .requestAccess {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            align-items: center;
            margin-top: 24px;

            .email {
                display: flex;
                padding: 12px 20px;
                gap: 8px;
                background: var(--color-ui-80);
                border-radius: 14px;
                font-size: 16px;
                font-weight: bold;
                color: var(--color-ui-10);
                align-items: center;

                img {
                    height: 20px;
                }
            }
        }
    }
}

.meetingMinutesType {
    padding: 0 10%;
    margin-bottom: 60px;

    h1 {
        font-size: 28px;
        font-weight: bold;
    }

    p {
        margin: 20px 0;
        font-size: var(--font-size-p);
        line-height: 1.6;
        color: var(--color-ui-100);
    }

    .button {
        font-size: 16px;
        font-weight: bold;
        padding: 14px 28px;
    }
}
