/* Desktop by default */
.desktop {
    display: block;
}

.mobile {
    display: none;
}

/* Mobile */
@media (max-width: 768px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}
