.externalGrantsPage {
    width: 100%;

}

.headerCard {
    display: flex;
    flex-direction: column;
    color: var(--color-ui-100);
    padding: 2rem;
    margin: 0 5%  0 5%;
    font-size: 24px;
    em {
        color: var(--color-ui-60);
        font-weight: bold;
        font-style: normal;
        display: inline;
        margin: 0;
        padding: 0;
    }
}

.searchbarContainer {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    width: 100%;
    height: 15vh;
    justify-content: center;
    gap: 1%;
    
    
    .searchbar {
        width: 25%;
        border-radius: 16px;
        border-color: color-mix(in srgb, var(--color-ui-100), transparent 30%);
        border-width: 2px;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        padding-left: 2rem;
        font-size: 20px;

        input {
            outline: none;
            border: none;
        }

        input:focus {
            outline: none;
            border: none;
        }

    }

    .filterDropdown {
        width: 55%;
        border-radius: 16px;
        border-color:  color-mix(in srgb, var(--color-ui-100), transparent 30%);
        border-width: 2px;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        padding-left: 2rem;
        padding-right: 2rem;;
        gap: 1rem;
        select {
            outline: none;
            width: 100%;
            height: 100%;
        }


        .filterDropdown {
            align-self: flex-end;
        }

    }

    .searchButton {
        border-radius: 16px;
        width: 10%;
        background-color:var(--color-ui-80);
        color: var(--color-ui-10);
        font-size: 20px;
    }
}

.grantsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5vh;
    margin-bottom: 5vh;
    margin-top: 5vh;

}

.grantsCard {
    /* grant title */
    padding: 2rem;
    margin: 0 5%  0 5%;
    background-color: var(--color-ui-30);
    height: fit-content;
    width: 80%;
    border-radius: 20px;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
    .dates {
        align-self: flex-start;
        margin: 0;
        text-align: left; 
        padding: 0;         
    }

    .cardLayout {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .grantInfo {
        display: flex;
        flex-direction: column;
    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: end;
    }

    .grantSection {
        margin-bottom: 1rem;
    }

    h1 {
        color: var(--color-ui-80);
        font-size: 40px;
        font-weight: bold;
    }
    /* grant offered by */

    h2 {
        color: var(--color-ui-60);
        font-size: 24px;
    }
    
    /* grant deadline, open date, etc */
    h3 {
        color: var(--color-ui-60);
        font-size: 20px;
        font-weight: bold;
    }
    /*link for email, website etc*/
    a {
        color: var(--color-ui-60);
        font-size: 24px;
        text-decoration: underline;
    }

    /* body text */
    p {
        font-size: 20px;
        color: var(--color-ui-100);
    }

    /* bolded section within body */
    b {
        font-size: 20px;
        color: var(--color-ui-100);
        font-weight: bold;
    }

    ul {
        list-style-type: disc; /* show bullets */
        padding-left: 1.5rem;  /* indent from the left */
        margin: 0.5rem 0;       /* spacing around the list */
    }
    
    li {
        font-size: 1rem;        /* normal text size */
        line-height: 1.5;       /* spacing between bullets */
        margin-bottom: 0.5rem;  /* optional spacing between bullets */
        font-size: 20px;

    }

    /* keywords */
    small {
        color: var(--color-ui-60);
        font-size: 16px;
        
    }

    /* contact formatting */
    .contact {
        color: var(--color-ui-60);
        font-size: 24px;
    }
}

.noGrants {
    padding: 2rem;
    background-color: var(--color-ui-30);
    height: 30vh;
    width: 50%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 3vh;

    button {
        background-color: var(--color-ui-80);
        color: var(--color-ui-10);
        padding: 0.5rem;
        border-radius: 10px;;
    }

}