.councilAndProcedures {
    font-family: 'Figtree', Helvetica, sans-serif;
    color: var(--color-ui-80);
    background: var(--color-ui-10);

    section {
        display: flex;
        flex-direction: column;
    }
}

.about {
    padding: 0 10% 100px;

    .aboutCard {
        padding: 50px 75px;
        font-size: 24px;
    }
}

.codeAndProcedures,
.whoCanVote,
.councilors {
    padding: 0 10%;
    margin-bottom: 60px;

    h1 {
        font-size: 40px;
        font-weight: bold;
    }

    p {
        margin: 40px 0;
        font-size: 20px;
        color: var(--color-ui-100);
    }

    b {
        color: var(--color-ui-80);
    }

    .button {
        font-size: 24px !important;
        font-weight: bold;
    }
}

.councilMeetings {
    padding: 0 10%;

    h1,
    p{
        color: var(--color-ui-10);
    }

    h1 {
        margin-bottom: 60px;
        font-size: 40px;
        font-weight: bold;
    }

    p {
        font-size: 20px;
    }
    
    a {
        text-decoration: underline;
    }
}